.custom-scrollbar{
    height: 700px;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f3f4f6;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #60a5fa;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3b82f6;
}